* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editor {
    position: relative;
    background-color: rgba(255, 255, 255, 0.877);
    height: 90vh;
    width: 95%
}

.buttons {
    display: grid;
    grid-auto-rows: 30px;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    width: 100%;
    border: 1px solid rgb(197, 197, 197);
    border-bottom: none;
}
.button:hover {
    border: 1px solid  rgb(138, 138, 246);
}

.button:focus, .button:active{
    border: 1.5px solid blue;
}

.text-area {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(197, 197, 197);
}

.text {
    height: 95%;
    width: 100%;
    padding: 25px 30px 5px 40px;
    font-size: 4rem;
    outline: none;
    overflow-y: scroll;
}

.dropdown-item {
    font-size: 3rem;
    line-height: 25px;
    position: absolute;
    padding: 3px;
    right: 0px;
    background: rgb(212, 212, 212);
}

.hide {
    display: none;
}